.answers-main {
  margin: 1em 0 0;
  width: 100%;
}
.answers-main h2 {
  font-size: 1.5em;
}
.answers-main header button {
  margin: 1em 1em 0 0;
}
.answers .words {
  padding: 0 0 1em;
  max-height: 13em;
  overflow-x: scroll;
  display: flex;
  flex-flow: column wrap;
  &::-webkit-scrollbar {
    height: 0.5em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--main-highlight-color);
    border-radius: 1em;
  }
}

.answers .words a {
  width: calc(100% / 3.5);
  padding: 0.3em 0;
  margin: 0;
  hyphens: auto;
  color: initial;
  text-decoration: none;
}

.answers .words a.isPangram {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-highlight-color);
}
