.answers-main {
  margin: 1em 0;
  width: 100%;
}
.answers-main h2 {
  margin: 1em 0 0.5em;
  font-size: 1.5em;
}
.answers .words {
  padding: 0.5em;
  max-height: 13em;
  overflow-x: scroll;
  display: flex;
  flex-flow: column wrap;
}

.answers .words p {
  width: calc(100% / 3.5);
  padding: 0;
  margin: 0 0.5em;
  hyphens: auto;
}

.answers .words p.found {
  color: rgb(73, 160, 63);
  font-weight: 600;
}
.answers .words p.notfound {
  color: rgb(0, 0, 0);
}

.answers .words p.isPangram {
  font-weight: 700;
  text-transform: uppercase;
}
