@import "./index.css";
section.correctGuesses > button {
  margin: 0;
  padding: 1em;
  width: 100%;
  display: flex;
  gap: 0.5em;

  > header > p {
    padding: 0;
    margin: 0.1em 0;
  }

  > main {
    display: flex;
    > a {
      color: initial;
      text-decoration: none;
      padding: 0.2em 0;
    }
    > a.isPangram {
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  > footer {
    text-align: left;
    > a {
      display: initial;
      color: var(--main-highlight-color);
    }
    > p {
      margin: 0.1em 0;
    }
  }
}

/*suljettu*/
section.correctGuesses button.hidden {
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  > header {
    text-align: left;
    overflow: visible;
    white-space: nowrap;
  }

  > main {
    flex-flow: row nowrap;
    overflow-x: hidden;
    justify-content: flex-start;
    > a {
      pointer-events: none;
      margin-right: 0.5em;
      text-align: left;
      display: initial;
    }
  }
  > footer {
    display: none;
  }
}

/*avattu*/
section.correctGuesses button.visible {
  flex-flow: column wrap;

  > header {
    flex: 0 0 100%;
  }

  > main {
    width: 100%;
    max-height: 14em;
    flex: 1 1 auto;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow-x: scroll;
    > a {
      pointer-events: initial;
      width: calc(100% / 3);
      text-align: left;
    }
  }

  > footer {
    display: initial;
  }
}
