*,
*:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-size: 16px;
}
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-dark-color: black;
  --main-mid-color: rgba(0, 0, 0, 0.25);
  --main-light-color: white;
  --main-highlight-color: color(display-p3 1 0.3 0);

  article.app.layout-ladybug {
    --main-highlight-color: color(display-p3 1 0.3 0);
  }

  article.app.layout-flower {
    --main-highlight-color: color(display-p3 1 0.73 0.12);
  }
}

.app {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.app > * {
  padding: 0.8rem 0.8rem;
}

h1 {
  font-size: 1.3rem;
  font-weight: 900;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
p,
a,
button {
  font-size: 0.8rem;
}
button {
  color: var(--main-dark-color) !important;
  background-color: var(--main-light-color);
  border: none;
  box-shadow: 0 0 4px var(--main-mid-color);
  border-radius: 1.5rem;
  padding: 0.75rem 0.8rem;
  margin: 0.5rem 0;
  &:disabled {
    opacity: 0.5;
  }
}

main.mainMain {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

@media (orientation: landscape) {
  main.mainMain {
    padding: 1.5rem 25vmin;
  }
}

header.mainHeader {
  background-color: var(--main-highlight-color);
}
header.mainHeader section.headerText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header.mainHeader section.headerText h1 {
  color: white;
}

header.mainHeader button {
  margin: 0 0.8rem;
}

footer.mainFooter {
  background-color: var(--main-highlight-color);
  text-align: center;
}

footer.mainFooter a,
footer.mainFooter p {
  color: white;
  font-weight: 700;
}

.game {
  text-align: center;
  max-width: 60ch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

section.messages {
  .guessText,
  .message {
    margin: 0 0 0.5rem;
    min-height: 1.25rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-size: 1.3rem;
  }

  .guessText p {
    margin: 0;
    padding: 0;
  }
  .message {
    background-color: var(--main-highlight-color);
    color: white;
    font-weight: 900;
    padding: 0.5rem 0.8rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.5rem;
    flex: 1 0 40%;
    &.hidden {
      background-color: transparent;
      box-shadow: none;
    }
  }
}
.actionButtons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.actionButtons button {
  margin: 0.5rem;
  padding: 0.8rem 1.2rem;
  flex: 3 1 45%;
}

.fullwidth {
  width: 100%;
}

.actionButtons p {
  line-height: 0.8rem;
  margin: 0.5rem 0;
  min-height: 0.8rem;
}

/*
.game .message {
position: absolute; 
  background-color: var(--main-highlight-color);
  color: white;
  font-weight: 900;
  padding: .8rem 2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  width: 50%;
 top: 45%;
  left: 50%;
  transform: translate(-50%, -55%); 
  font-size: 1.5rem;

  &.flower {
    transform: translate(-50%, -45%);
  }
}
  */

svg {
  > text {
    pointer-events: none;
  }
  > g.letters.flower text {
    fill: white;
  }
  > g.flower > path.outline {
    stroke: var(--main-highlight-color);
  }
}

svg text {
  pointer-events: none;
}
g.ladybug.hidden {
  display: none;
}

g.ladybug.visible {
  display: initial;
}

g.flower.hidden {
  display: none;
}

g.flower.visible {
  display: initial;
}

section.gameboard {
  width: 100%;
}

svg.ladybug,
svg.gameboard {
  max-height: 40vh;
  max-width: 90vw;
}
svg.ladybug .redBody,
svg.gameboard .redBody {
  fill: var(--main-highlight-color) !important;
}
svg.ladybug,
svg.gameboard > * {
  font-weight: 700;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

svg.ladybug .expression.visible,
svg.gameboard .expression.visible {
  display: initial;
}
svg.ladybug .expression.hidden,
svg.gameboard .expression.hidden {
  display: none;
}

svg .fill.purple-darkest,
svg .fill.purple-darker {
  fill: var(--main-highlight-color) !important;
}

svg g.button.stroke path,
svg g.button.stroke ellipse {
  stroke: var(--main-highlight-color);
  fill: var(--main-light-color);
}
svg g.button.fill path,
svg g.button.fill ellipse {
  stroke: var(--main-light-color);
  fill: var(--main-highlight-color);
}

svg g.button.light path,
svg g.button.light ellipse {
  stroke: var(--main-light-color);
  fill: var(--main-light-color);
}
svg g.button.highlight path,
svg g.button.highlight ellipse {
  stroke: var(--main-highlight-color);
  fill: var(--main-highlight-color);
}

svg {
  g.letters {
    &.flower text {
      fill: var(--main-light-color);
    }
    &.flower text .center {
      fill: var(--main-highlight-color);
    }
    &.ladybug text {
      fill: var(--main-light-color) !important;
    }
  }
}

svg g.letters text {
  padding: 10px;
  transform: translate(160.6 200.1);
}

svg g {
  text-align: center;
}
