section.ranking button {
  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;
  box-shadow: none;
}

section.ranking button section.steps {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: center;
  align-content: stretch;
}

section.ranking button section.steps p {
  display: none;
}
section.ranking .steps p.current {
  margin: 0;
  padding: 0.5em 0.8em;
  display: initial;
  background-color: rgb(160, 39, 62);
  color: white;
  border-radius: 1em;
}
